apiVersion: v1
kind: LimitRange
metadata:
  name: openedx-limits
  namespace: openedx
spec:
  limits:
    - type: Container
      default:
        cpu: "500m"
        memory: "1Gi"
      defaultRequest:
        cpu: "250m"
        memory: "512Mi"
