MYSQL_HOST=<rds-endpoint>
MYSQL_USERNAME=openedx
MYSQL_PASSWORD=<mysql-password>
MYSQL_DATABASE=openedx

MONGO_HOST=mongodb.openedx-db.svc.cluster.local
MONGO_USERNAME=openedx
MONGO_PASSWORD=<mongo-password>

ELASTICSEARCH_HOST=elasticsearch.openedx-db.svc.cluster.local
ELASTICSEARCH_USERNAME=<es-username>
ELASTICSEARCH_PASSWORD=<es-password>

REDIS_HOST=<redis-endpoint>
