architecture: replicaset
replicaSetName: rs0
replicaCount: 3

auth:
  enabled: true
  rootUser: root
  rootPassword: CHANGE_ME_ROOT
  username: openedx
  password: CHANGE_ME_OPENEDX
  database: openedx

persistence:
  enabled: true
  storageClass: gp3
  size: 50Gi

resources:
  requests:
    cpu: "500m"
    memory: "1Gi"
  limits:
    cpu: "1"
    memory: "2Gi"

podAntiAffinityPreset: hard
podAntiAffinityTopologyKey: topology.kubernetes.io/zone
